<%= render :partial => '/errors', layout: false, locals: {resource: @profile}%>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-lg-10 col-lg-offset-1 profile-form">
      <h1>Edit Your Profile</h1>
        <%= render "form" %>
        <p><%= link_to "Back to Profile Without Saving", user_path(current_user) %></p>
    </div>
  </div>
</div>
