<div class="row">
	<div class="col-sm"> 
		<div class="row">
			<%= image_tag tweet.user.profile.picture.url(:thumb) %> 
		</div>
		<div class="row">
			<%= tweet.user.handle %>
		</div>
	<div class="col-md"> 
		<div class="row">
			<%= tweet.message %> 
		</div>
	</div>
</div>
