<%= render partial: "profiles/show", locals: {profile: profile} %>

<% if allowed_to_follow?(@user) %>
	<div class="row"> 
		<div class="col-sm">
		<%= button_to "Follow", user_followings_path(@user), class: "btn btn-primary" %> 
		</div>
	</div>
<% end %>

<% if allowed_to_block?(@user) %>
	<div class="row">
		<div class="col-sm">
		<%= button_to "Block", user_blockings_path(@user), class: "btn btn-danger" %>
		</div>
	</div>
<% end %>

