<h1> Home page </h1>

<% if user_signed_in? %>

	<div class="row justify-content-between">
		<div class="col-3">
			<%= render partial: "shared/profile_snippet", locals: {profile: @user.profile} %>

			<%= render partial: "tweets/new_tweet", locals: {tweet: @tweet} %>
		</div>

		<%= render partial: "shared/timeline", locals: {timeline: @timeline} %>

	</div>

<% else %>
	<%= link_to "Sign in to create a tweet!", new_user_session_path %>
<% end %>