	<div class="row justify-content-between">
		<div class="col-8 snippet-container">

			<%= render partial: "shared/profile_snippet", locals: {profile: @user.profile} %>

			<%= render partial: "tweets/new_tweet", locals: {tweet: @tweet} %>

			<%= render partial: "shared/timeline", locals: {timeline: @timeline} %>

		</div>
	</div>