.profile-pic-med {
    border-radius: 50%;
    margin-top: 130px;
    border: 5px solid white;
    margin-top: -70px;
    margin-left: 15px;
}

.profile-pic-med-default {
    border-radius: 50%;
    margin-top: 130px;
    border: 5px solid white;
    margin-top: -70px;
    margin-left: 15px;
    background: darkgray;
    height: 130px;
    width: 130px;
}

.profile-picture-default-background-container {
    height: 200px;
    width: 100%;
    background-color: rgb(207, 217, 222);
}
