<% if resource.errors.any? %>
	<div class="errors">
		<ul>
			<% resource.errors.full_messages.flatten.each do |error_message| %>
				<li> <%= error_message %> </li>	
			<% end %>
		</ul>
	</div>
<% end %>	